In [414]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [415]:
driver=webdriver.Edge(r'C:\Users\Mandar Shinde\Desktop\DataScience\DATA TRAINED\FlipRobo Internship\msedgedriver.exe')

**Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:**<br>
url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ <br>
You need to find following details:<br>
1. Rank
2. Name
3. Artist
4. Upload date
5. Views

In [197]:
##Getting the required wiki page
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [219]:
rank=[]
ranks=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]')

for i in ranks:
    try:
        rank.append(i.text)
    except NoSuchElementException:
        rank.append('-')
rank[:5]

['1.', '2.', '3.', '4.', '5.']

In [218]:
name=[]
name_tags=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]')

for i in name_tags:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('-')
name[:5]

['"Baby Shark Dance"[23]',
 '"Despacito"[25]',
 '"Johny Johny Yes Papa"[26]',
 '"Shape of You"[27]',
 '"See You Again"[28]']

In [217]:
artist=[]
artists=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]')

for i in artists:
    try:
        artist.append(i.text)
    except NoSuchElementException:
        artist.append('-')
artist[:5]

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa']

In [211]:
upload_date=[]
dates=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]')

for i in dates:
    try:
        upload_date.append(i.text)
    except NoSuchElementException:
        upload_date.append('-')
upload_date[:5]

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015']

In [216]:
views=[]
vw=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]')

for i in vw:
    try:
        views.append(i.text)
    except NoSuchElementException:
        views.append('-')
views[:5]

['9.27', '7.52', '5.68', '5.45', '5.25']

In [215]:
## Storing the scraped data in a dataframe
most_viewed_videos=pd.DataFrame()

most_viewed_videos['Rank']=rank
most_viewed_videos['Song']=name
most_viewed_videos['Artist']=artist
most_viewed_videos['Views(Billions)']=views
most_viewed_videos['Upload Date']=upload_date

most_viewed_videos

,Rank,Song,Artist,Views(Billions),Upload Date
0,1.,"""Baby Shark Dance""[23]",Pinkfong Kids' Songs & Stories,9.27,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.52,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.68,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.45,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.25,"April 6, 2015"
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.49,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.46,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012"
8,9.,"""Uptown Funk""[34]",Mark Ronson,4.28,"November 19, 2014"
9,10.,"""Gangnam Style""[35]",Psy,4.18,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[37]",ChuChu TV,4.14,"March 6, 2014"
11,12.,"""Dame Tu Cosita""[38]",El Chombo,3.57,"April 5, 2018"
12,13.,"""Sugar""[39]",Maroon 5,3.54,"January 14, 2015"
13,14.,"""Sorry""[40]",Justin Bieber,3.46,"October 22, 2015"
14,15.,"""Roar""[41]",Katy Perry,3.42,"September 5, 2013"
15,16.,"""Counting Stars""[42]",OneRepublic,3.38,"May 31, 2013"
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,3.31,"October 7, 2014"
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.24,"May 24, 2018"
18,19.,"""Dark Horse""[45]",Katy Perry,3.14,"February 20, 2014"
19,20.,"""Faded""[46]",Alan Walker,3.13,"December 3, 2015"
20,21.,"""Girls Like You""[47]",Maroon 5,3.11,"May 31, 2018"
21,22.,"""Shake It Off""[48]",Taylor Swift,3.09,"August 18, 2014"
22,23.,"""Lean On""[49]",Major Lazer,3.09,"March 22, 2015"
23,24.,"""Bailando""[50]",Enrique Iglesias,3.09,"April 11, 2014"
24,25.,"""Let Her Go""[51]",Passenger,3.07,"July 25, 2012"
25,26.,"""Axel F""[52]",Crazy Frog,2.98,"June 16, 2009"
26,27.,"""Mi Gente""[53]",J Balvin,2.97,"June 29, 2017"
27,28.,"""Perfect""[54]",Ed Sheeran,2.94,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.93,"June 4, 2010"
29,30.,"""Hello""[56]",Adele,2.88,"October 22, 2015"

**Q2. Scrape the details team Indi,a’s international fixtures from bcci.tv.**<br>
Url = https://www.bcci.tv/. <br>
You need to find following details:
1. Match title (I.e. 1st ODI)
2. Series
3. Place
4. Date
5. Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [220]:
##Getting the required bcci webpage
url = 'https://www.bcci.tv/'
driver.get(url)

In [221]:
menu_scroll=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/button')
menu_scroll.click()

In [222]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[2]/div[2]/nav/ul/li[1]/div[1]/div').click()

In [223]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').click()

In [237]:
#try mentioned approach
series=[]
series_title=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')


for i in series_title:
    try:
        series.append(i.text)
    except NoSuchElementException:
        series.append('-')
series[:5]

["2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP"]

In [236]:
match=[]
match_title=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//strong')


for i in match_title:
    try:
        match.append(i.text)
    except NoSuchElementException:
        match.append('-')
match[:5]

['Match 16', 'Match 28', 'Match 33', 'Match 37', 'Match 42']

In [238]:
place=[]
place_title=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//span')


for i in place_title:
    try:
        place.append(i.text)
    except NoSuchElementException:
        place.append('-')
place[:5]

['Dubai International Cricket Stadium, Dubai',
 'Dubai International Cricket Stadium, Dubai',
 'Sheikh Zayed Cricket Stadium, Abu Dhabi',
 'Dubai International Cricket Stadium, Dubai',
 'Dubai International Cricket Stadium, Dubai']

In [239]:
date=[]
dates=driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]//strong')


for i in dates:
    try:
        date.append(i.text)
    except NoSuchElementException:
        date.append('-')
date[:5]

['Sunday 24 October',
 'Sunday 31 October',
 'Wednesday 3 November',
 'Friday 5 November',
 'Monday 8 November']

In [270]:
time=[]
tm=driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]')


for i in tm:
    try:
        time.append(i.text[-9:])
    except NoSuchElementException:
        time.append('-')
time[:5]

['19:30 IST', '19:30 IST', '19:30 IST', '19:30 IST', '19:30 IST']

In [271]:
## Saving the scraped data in a dataframe
India_matches=pd.DataFrame()
India_matches['Series']=series
India_matches['Match']=match
India_matches['Place']=place
India_matches['Date']=date
India_matches['Timing']=time

India_matches

,Series,Match,Place,Date,Timing
0,2021 ICC MEN'S T20 WORLD CUP,Match 16,"Dubai International Cricket Stadium, Dubai",Sunday 24 October,19:30 IST
1,2021 ICC MEN'S T20 WORLD CUP,Match 28,"Dubai International Cricket Stadium, Dubai",Sunday 31 October,19:30 IST
2,2021 ICC MEN'S T20 WORLD CUP,Match 33,"Sheikh Zayed Cricket Stadium, Abu Dhabi",Wednesday 3 November,19:30 IST
3,2021 ICC MEN'S T20 WORLD CUP,Match 37,"Dubai International Cricket Stadium, Dubai",Friday 5 November,19:30 IST
4,2021 ICC MEN'S T20 WORLD CUP,Match 42,"Dubai International Cricket Stadium, Dubai",Monday 8 November,19:30 IST
5,INDIA IN SOUTH AFRICA 2021/2022,1st Test,"New Wanderers Stadium, Johannesburg",Friday 17 December,13:30 IST
6,INDIA IN SOUTH AFRICA 2021/2022,2nd Test,"Supersport Park, Centurion",Sunday 26 December,13:30 IST
7,INDIA IN SOUTH AFRICA 2021/2022,3rd Test,"New Wanderers Stadium, Johannesburg",Monday 3 January,13:30 IST
8,INDIA IN SOUTH AFRICA 2021/2022,1st ODI,"Boland Park, Paarl",Tuesday 11 January,14:00 IST
9,INDIA IN SOUTH AFRICA 2021/2022,2nd ODI,"Newlands, Cape Town",Friday 14 January,14:00 IST
10,INDIA IN SOUTH AFRICA 2021/2022,3rd ODI,"Newlands, Cape Town",Sunday 16 January,14:00 IST
11,INDIA IN SOUTH AFRICA 2021/2022,1st T20I,"Newlands, Cape Town",Wednesday 19 January,19:30 IST
12,INDIA IN SOUTH AFRICA 2021/2022,2nd T20I,"Newlands, Cape Town",Friday 21 January,19:30 IST
13,INDIA IN SOUTH AFRICA 2021/2022,3rd T20I,"Boland Park, Paarl",Sunday 23 January,19:30 IST
14,INDIA IN SOUTH AFRICA 2021/2022,4th T20I,"Boland Park, Paarl",Wednesday 26 January,19:30 IST
15,ENGLAND V INDIA 2022,1st T20I,"Old Trafford, Manchester",Friday 1 July,23:00 IST
16,ENGLAND V INDIA 2022,2nd T20I,"Trent Bridge, Nottingham",Sunday 3 July,19:00 IST
17,ENGLAND V INDIA 2022,3rd T20I,"The Ageas Bowl, Southampton",Wednesday 6 July,23:00 IST
18,ENGLAND V INDIA 2022,1st ODI,"Edgbaston, Birmingham",Saturday 9 July,15:30 IST
19,ENGLAND V INDIA 2022,2nd ODI,"The Oval, London",Tuesday 12 July,17:30 IST

**Q3.Scrape the details of selenium exception from guru99.com**<br>
Url = https://www.guru99.com/ <br>
You need to find following details:<br>
1. Name
2. Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [51]:
##Getting the required guru99 webpage
url = 'https://www.guru99.com/'
driver.get(url)

In [54]:
menu_scroll=driver.find_element_by_xpath('/html/body/div[1]/header/div[2]/div/div/div/div/div/div/div/div[2]/div/div/button')
menu_scroll.click()

In [57]:
drop_down=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/div/nav/div/ul/li[2]/div/button')
drop_down.click()

In [58]:
select_selenium=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/div/nav/div/ul/li[2]/div/button')
select_selenium.click()

In [63]:
tutorial_button=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
tutorial_button.click()

In [81]:
  
# Obtain the number of rows in body
rows = 1+len(driver.find_elements_by_xpath(
    "/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr"))
  
# Obtain the number of columns in table
cols = len(driver.find_elements_by_xpath(
    "/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr[2]/td"))

In [74]:
table=[]
for r in range(2, rows+1):
    for p in range(1, cols+1):
        
        # obtaining the text from each column of the table
        try: 
            table.append(driver.find_element_by_xpath(
            "/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr["+str(r)+"]/td["+str(p)+"]").text)
        except NoSuchElementException:
            table.append('-')

In [82]:
table[:6]

['ElementNotVisibleException',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'ElementNotSelectableException',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'NoSuchElementException',
 'This Exception occurs if an element could not be found.']

In [80]:
## seperating exception name and description and storing them in seperate lists
exception=[]
description=[]
for i in range(0,len(table),2):
    exception.append(table[i])
    
for i in range(1,len(table),2):
    description.append(table[i])

## saving the scraped data in a dataframe
selenium_exceptions=pd.DataFrame()
selenium_exceptions['Exception']=exception
selenium_exceptions['Description']=description

selenium_exceptions

,Exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...
41,-,-

**Q4. Scrape the details of State-wise GDP of India from statisticstime.com**<br>
Url = http://statisticstimes.com/
You have to find following details:
1. Rank
2. State
3. GSDP at current price (19-20)
4. GSDP at current price (18-19)
5. Share(18-19)
6. GDP($ billion)<br>
Note: - From statisticstimes home page you have to reach to economy page through code

In [517]:
##Getting the required statisticstimes webpage
url = ' http://statisticstimes.com/ '
driver.get(url)

In [518]:
## Click 'economy'
economy_button=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_button.click()

In [519]:
## Select India
india_button=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india_button.click()

In [522]:
## Select 'gdp of states' option
states_button=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
states_button.click()

In [537]:
state=[]
states=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]')
for i in states:
    try:
        state.append(i.text)
    except NoSuchElementException:
        state.append('-')
    
state[:5]

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka']

In [538]:
len(state)

33

In [536]:
rank=[]
ranks=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]')

for i in ranks:
    try:
        rank.append(i.text)
    except NoSuchElementException:
        rank.append('-')
    
rank[:5]

['1', '2', '3', '4', '5']

In [529]:

gsdp_1920=[]
gsdp1=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]')

for i in gsdp1:
    try:
        gsdp_1920.append(i.text)
    except NoSuchElementException:
        gsdp_1920.append('-')
    
gsdp_1920[:5]

['-', '1,845,853', '1,687,818', '-', '1,631,977']

In [530]:
gsdp_1819=[]
gsdp2=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]')

for i in gsdp2:
    try:
        gsdp_1819.append(i.text)
    except NoSuchElementException:
        gsdp_1819.append('-')
    
gsdp_1819[:5]

['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127']

In [531]:
share=[]
sh=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')

for i in sh:
    try:
        share.append(i.text)
    except NoSuchElementException:
        share.append('-')
    
share[:5]

['13.94%', '8.63%', '8.39%', '7.96%', '7.91%']

In [532]:
gdp=[]
gd=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')

for i in gd:
    try:
        gdp.append(i.text)
    except NoSuchElementException:
        gdp.append('-')
    
gdp[:5]

['399.921', '247.629', '240.726', '228.290', '226.806']

In [540]:
print(len(rank))
print(len(state))
print(len(gsdp_1819))
print(len(gsdp_1920))
print(len(share))
print(len(gdp))

33
33
33
33
33
33

In [539]:
State_GDP=pd.DataFrame()

State_GDP['Rank']=rank
State_GDP['State']=state
State_GDP['GSDP at current price (19-20)']=gsdp_1920
State_GDP['GSDP at current price (18-19)']=gsdp_1819
State_GDP['Share(18-19)']=share
State_GDP['GDP($ billion)']=gdp

State_GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

**Q5. Scrape the details of trending repositories on Github.com**<br>
Url = https://github.com/<br>
You have to find the following details:<br>
1. Repository title
2. Repository description
3. Contributors count
4. Language used

In [499]:
##Getting the github webpage
url = 'https://github.com/'
driver.get(url)

In [500]:
## Click menu
menu=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/button')
menu.click()

In [501]:
##click 'explore'
explore_button=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore_button.click()

In [502]:
## Click 'trending'
trending=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
trending.click()

In [503]:
title=[]

titles=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')

for i in titles:
    try:
        title.append(i.text)
    except NoSuchElementException:
        title.append('-')
        
title[:5]

['microsoft / wslg',
 'rammcodes / Dopefolio',
 'TaKO8Ki / gobang',
 'MoH-Malaysia / covid19-public',
 'exiled-apes / candy-machine-mint']

In [504]:
len(title)

25

In [512]:
description=[]

descriptions=driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
#//*[@id="js-pjax-container"]/div[3]/div/div[2]/article[8]/p
#
for i in descriptions:
    try:
        description.append(i.text)
    except: #NoSuchElementException:
        description.append('-')
        
description[:5]

['Enabling the Windows Subsystem for Linux to include support for Wayland and X server related scenarios',
 'Dopefolio 🔥 - Portfolio Template for Developers 🚀',
 'A cross-platform TUI database management tool written in Rust',
 'Official data on the COVID-19 epidemic in Malaysia. Powered by CPRC, CPRC Hospital System, MKAK, and MySejahtera.',
 'Fork, config, customize and ship your own candy machine mint app on your own domain, ultra fast.']

In [513]:
len(description)

24

In [476]:
language=[]

langs=driver.find_elements_by_xpath('//span[@itemprop="programmingLanguage"]')

for i in langs:
    try:
        language.append(i.text)
    except NoSuchElementException:
        language.append('-')
        
language[:5]

['C++', 'HTML', 'Rust', 'TypeScript', 'Jupyter Notebook']

In [477]:
repository_urls=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a')

urls=[]
for i in repository_urls:
    urls.append(i.get_attribute('href'))
urls[:5]

['https://github.com/microsoft/wslg',
 'https://github.com/rammcodes/Dopefolio',
 'https://github.com/TaKO8Ki/gobang',
 'https://github.com/MoH-Malaysia/covid19-public',
 'https://github.com/exiled-apes/candy-machine-mint']

In [486]:
contributors_count=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    try:
        count=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
        contributors_count.append(count.text)
    except NoSuchElementException:
        contributors_count.append('-')
        
contributors_count[:5]

['19', '2', '', '-', '-']

In [490]:
len(contributors_count)

25

In [515]:
len(language)

23

In [516]:
trending_repositories=pd.DataFrame()

trending_repositories['Repository title']=title
trending_repositories['Repository description']=description
trending_repositories['Language used']=language
trending_repositories['Contributors count']=contributors_count

trending_repositories

**Q6. Scrape the details of top 100 songs on billboard.com.**<br>
Url = https://www.billboard.com/ <br>
You have to find the following details:<br>
1. Song name
2. Artist name
3. Last week rank
4. Peak rank
5. Weeks on board <br>
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [468]:
##Getting the billboard webpage
url = 'https://www.billboard.com/'
driver.get(url)

In [469]:
hot100_button=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a')
hot100_button.click()

In [173]:
song=[]

songs=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in songs:
    try:
        song.append(i.text)
    except NoSuchElementException:
        song.append('-')
song[:10]

['Butter',
 'Stay',
 'Bad Habits',
 'Good 4 U',
 'Kiss Me More',
 'Hurricane',
 'Industry Baby',
 'Levitating',
 'Fancy Like',
 'Jail']

In [175]:
artist=[]

artists=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')

for i in artists:
    try:
        artist.append(i.text)
        
    except NoSuchElementException:
        song.append('-')
artist[:10]

['BTS',
 'The Kid LAROI & Justin Bieber',
 'Ed Sheeran',
 'Olivia Rodrigo',
 'Doja Cat Featuring SZA',
 'Kanye West',
 'Lil Nas X & Jack Harlow',
 'Dua Lipa',
 'Walker Hayes',
 'Kanye West']

In [185]:
lastweek_rank=[]

lastweek_ranks=driver.find_elements_by_xpath('//span[@class="chart-element__meta text--center color--secondary text--last"]')

for i in lastweek_ranks:
    try:
        lastweek_rank.append(i.text)
        
    except NoSuchElementException:
        lastweek_rank.append('-')
lastweek_rank[:10]

['7 LW', '1 LW', '2 LW', '3 LW', '4 LW', '', '5 LW', '6 LW', '11 LW', '']

In [187]:
peak_rank=[]

peak_ranks=driver.find_elements_by_xpath('//span[@class="chart-element__meta text--center color--secondary text--peak"]')

for i in peak_ranks:
    try:
        peak_rank.append(i.text)
        
    except NoSuchElementException:
        peak_rank.append('-')
peak_rank[:10]

['1 Pk',
 '1 Pk',
 '2 Pk',
 '1 Pk',
 '3 Pk',
 '6 Pk',
 '2 Pk',
 '2 Pk',
 '9 Pk',
 '10 Pk']

In [188]:
weeks_on_board=[]

weeks=driver.find_elements_by_xpath('//span[@class="chart-element__meta text--center color--secondary text--week"]')

for i in weeks:
    try:
        weeks_on_board.append(i.text)
        
    except NoSuchElementException:
        weeks_on_board.append('-')
weeks_on_board[:10]

['15 WoC',
 '8 WoC',
 '10 WoC',
 '16 WoC',
 '21 WoC',
 '1 WoC',
 '6 WoC',
 '48 WoC',
 '11 WoC',
 '1 WoC']

In [190]:
Billboard_Top100=pd.DataFrame()
Billboard_Top100['Song']=song
Billboard_Top100['Artist']=artist
Billboard_Top100['Last Week Rank']=lastweek_rank
Billboard_Top100['Peak Rank']=peak_rank
Billboard_Top100['Weeks on Board']=weeks_on_board

Billboard_Top100[:10]

,Song,Artist,Last Week Rank,Peak Rank,Weeks on Board
0,Butter,BTS,7 LW,1 Pk,15 WoC
1,Stay,The Kid LAROI & Justin Bieber,1 LW,1 Pk,8 WoC
2,Bad Habits,Ed Sheeran,2 LW,2 Pk,10 WoC
3,Good 4 U,Olivia Rodrigo,3 LW,1 Pk,16 WoC
4,Kiss Me More,Doja Cat Featuring SZA,4 LW,3 Pk,21 WoC
5,Hurricane,Kanye West,,6 Pk,1 WoC
6,Industry Baby,Lil Nas X & Jack Harlow,5 LW,2 Pk,6 WoC
7,Levitating,Dua Lipa,6 LW,2 Pk,48 WoC
8,Fancy Like,Walker Hayes,11 LW,9 Pk,11 WoC
9,Jail,Kanye West,,10 Pk,1 WoC

**Q7. Scrape the details of Data science recruiters from naukri.com.**
Url = https://www.naukri.com/ <br>
You have to find the following details:<br>
1. Name
2. Designation
3. Company
4. Skills they hire for
5. Location <br>
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [195]:
##Getting the naukri.com webpage
url = 'https://www.naukri.com/'
driver.get(url)

#### Getting the following error:<br>
Access Denied<br>
You don't have permission to access "http://www.naukri.com/" on this server.<br>
Reference #18.8ffed417.1631384059.ac09ab4 <br>

**Q8. Scrape the details of Highest selling novels.**<br>
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ <br>
You have to find the following details:<br>
1. Book name
2. Author name
3. Volumes sold
4. Publisher
5. Genre

In [273]:
##Getting the required theguardian webpage
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [298]:
detail=[]

details=driver.find_elements_by_xpath('//tbody//tr//td')

for i in details:
    try:
        detail.append(i.text)
    except NoSuchElementException:
        detail.append('--')
detail[:]

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 'Crime, Thriller & Adventure',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 "Children's Fiction",
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 "Children's Fiction",
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 "Children's Fiction",
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 'Romance & Sagas',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 "Children's Fiction",
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 "Children's Fiction",
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 "Children's Fiction",
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 'Crime, Thriller & Adventure',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 "Children's Fiction",
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 'Romance & Sagas',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 'Young Adult Fiction',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 'Crime, Thriller & Adventure',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 'Romance & Sagas',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 'Crime, Thriller & Adventure',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 'Young Adult Fiction',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 'Crime, Thriller & Adventure',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 'Young Adult Fiction',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 'General & Literary Fiction',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 'General & Literary Fiction',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 'Crime, Thriller & Adventure',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 'Popular Science',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 'Crime, Thriller & Adventure',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 'Young Adult Fiction',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 'Picture Books',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 'Picture Books',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 'Food & Drink: General',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 'General & Literary Fiction',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 'General & Literary Fiction',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 'Crime, Thriller & Adventure',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 'General & Literary Fiction',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 'General & Literary Fiction',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 'General & Literary Fiction',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 'Humour: Collections & General',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 'General & Literary Fiction',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 'Autobiography: General',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 'General & Literary Fiction',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 'Biography: The Arts',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 'Autobiography: General',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 'Picture Books',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 'Autobiography: General',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 'General & Literary Fiction',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 'General & Literary Fiction',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 'Science Fiction & Fantasy',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 'General & Literary Fiction',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 'General & Literary Fiction',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 'General & Literary Fiction',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 'Crime, Thriller & Adventure',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 'General & Literary Fiction',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 'General & Literary Fiction',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 'Fitness & Diet',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 'General & Literary Fiction',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 "Children's Fiction",
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 'Crime, Thriller & Adventure',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 'Fitness & Diet',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 'Usage & Writing Guides',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 'Food & Drink: General',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 'General & Literary Fiction',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 'Young Adult Fiction',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 'General & Literary Fiction',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 'Popular Culture & Media: General Interest',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 'Autobiography: The Arts',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 'General & Literary Fiction',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 'Crime, Thriller & Adventure',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 'Science Fiction & Fantasy',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 'Current Affairs & Issues',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 'Crime, Thriller & Adventure',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 'Autobiography: The Arts',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 'General & Literary Fiction',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 'Autobiography: The Arts',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 'Travel Writing',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 'Food & Drink: General',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 'General & Literary Fiction',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 'National & Regional Cuisine',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 'Fitness & Diet',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 'Travel Writing',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 'Crime, Thriller & Adventure',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 'General & Literary Fiction',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 'Food & Drink: General',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 'General & Literary Fiction',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 'General & Literary Fiction',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 'Picture Books',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 'General & Literary Fiction',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 'Autobiography: The Arts',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 'Popular Science',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 "Children's Annuals",
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 'General & Literary Fiction',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 'General & Literary Fiction',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 'General & Literary Fiction',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 'General & Literary Fiction',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 'General & Literary Fiction',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 'Food & Drink: General',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 'Biography: General',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin',
 'Food & Drink: General']

In [305]:
book=[]
author=[]
volumes=[]
publisher=[]
genre=[]

for i in range(1,len(detail),6):
    book.append(detail[i])
    
for i in range(2,len(detail),6):
    author.append(detail[i])
    
for i in range(3,len(detail),6):
    volumes.append(detail[i])
    
for i in range(4,len(detail),6):
    publisher.append(detail[i])
    
for i in range(5,len(detail),6):
    genre.append(detail[i])
    
best_selling_books=pd.DataFrame()
best_selling_books['Book Name']=book
best_selling_books['Author Name']=author
best_selling_books['Volumes Sold']=volumes
best_selling_books['Publisher']=publisher
best_selling_books['genre']=genre

best_selling_books

,Book Name,Author Name,Volumes Sold,Publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

**Q9 Scrape the details most watched tv series of all time from imdb.com.**<br>
 Url = https://www.imdb.com/list/ls095964455/ <br>
You have to find the following details:<br>
1. Name
2. Year span
3. Genre
4. Run time
5. Ratings
6. Votes

In [466]:
##Getting the required IMDB webpage
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [467]:
name=[]

names=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//a')

for i in names:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('---')
name[:5]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100']

In [308]:
year_span=[]

years=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')

for i in years:
    try:
        year_span.append(i.text)
    except NoSuchElementException:
        year_span.append('---')
year_span[:5]

['(2011–2019)', '(2016– )', '(2010–2022)', '(2017–2020)', '(2014–2020)']

In [309]:
genre=[]

genres=driver.find_elements_by_xpath('//span[@class="genre"]')

for i in genres:
    try:
        genre.append(i.text)
    except NoSuchElementException:
        genre.append('---')
genre[:5]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi']

In [310]:
run_time=[]

time=driver.find_elements_by_xpath('//span[@class="runtime"]')

for i in time:
    try:
        run_time.append(i.text)
    except NoSuchElementException:
        run_time.append('---')
run_time[:5]

['57 min', '51 min', '44 min', '60 min', '43 min']

In [314]:
rating=[]

ratings=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')

for i in ratings:
    try:
        rating.append(i.text)
    except NoSuchElementException:
        rating.append('---')
rating[:5]

['9.2', '8.7', '8.2', '7.6', '7.6']

In [313]:
votes=[]

vote=driver.find_elements_by_xpath('//span[@name="nv"]')

for i in vote:
    try:
        votes.append(i.text)
    except NoSuchElementException:
        votes.append('---')
votes[:5]

['1,869,527', '904,821', '895,557', '269,448', '229,749']

In [315]:
top_tv_series=pd.DataFrame()

top_tv_series['Name']=name
top_tv_series['Year Span']=year_span
top_tv_series['Genre']=genre
top_tv_series['Run Time']=run_time
top_tv_series['Ratings']=rating
top_tv_series['Votes']=votes

top_tv_series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,869,527"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"904,821"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"895,557"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"269,448"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"229,749"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,532"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,411"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"174,681"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,549"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"198,528"

**Q10. Details of Datasets from UCI machine learning repositories.**<br>
 Url = https://archive.ics.uci.edu/ <br>
 You have to find the following details:<br>
1. Dataset name
2. Data type
3. Task
4. Attribute type
5. No of instances
6. No of attribute
7. Year <br>
Note: - from the home page you have to go to the Show All Dataset page through code.

In [464]:
##Getting the UCI webpage
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [465]:
all_dataset=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]')
all_dataset.click()

In [444]:
name=[]

names=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')

for i in names:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('--')
name[:10]

['Name',
 '  Abalone',
 '  Adult',
 '  Annealing',
 '  Anonymous Microsoft Web Data',
 '  Arrhythmia',
 '  Artificial Characters',
 '  Audiology (Original)',
 '  Audiology (Standardized)',
 '  Auto MPG']

In [445]:
len(name)

589

In [446]:
data_type=[]

types=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')

for i in types:
    try:
        data_type.append(i.text)
    except NoSuchElementException:
        data_type.append('--')
data_type[:10]

['Data Types',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ']

In [447]:
len(data_type)

589

In [448]:
task=[]

tasks=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')

for i in tasks:
    try:
        task.append(i.text)
    except NoSuchElementException:
        task.append('--')
task[:10]

['Default Task',
 'Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ']

In [449]:
len(task)

589

In [450]:
attribute=[]

attr=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')

for i in attr:
    try:
        attribute.append(i.text)
    except NoSuchElementException:
        attribute.append('--')
attribute[:10]

['Attribute Types',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Categorical, Real ']

In [451]:
len(attribute)

589

In [452]:
num_instances=[]

inst=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')

for i in inst:
    try:
        num_instances.append(i.text)
    except NoSuchElementException:
        num_instances.append('--')
num_instances[:10]

['# Instances',
 '4177 ',
 '48842 ',
 '798 ',
 '37711 ',
 '452 ',
 '6000 ',
 '226 ',
 '226 ',
 '398 ']

In [453]:
len(num_instances)

589

In [454]:
num_attr=[]

attrb=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')

for i in attrb:
    try:
        num_attr.append(i.text)
    except NoSuchElementException:
        num_attr.append('--')
num_attr[:10]

['# Attributes', '8 ', '14 ', '38 ', '294 ', '279 ', '7 ', ' ', '69 ', '8 ']

In [455]:
len(num_attr)

589

In [458]:
year=[]

yr=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')

for i in yr:
    try:
        year.append(i.text)
    except NoSuchElementException:
        year.append('--')
year[:10]

['Year',
 '1995 ',
 '1996 ',
 ' ',
 '1998 ',
 '1998 ',
 '1992 ',
 '1987 ',
 '1992 ',
 '1993 ']

In [459]:
len(year)

589

In [463]:
Datasets=pd.DataFrame()

Datasets['Name']=name[1:]
Datasets['Data Type']=data_type[1:]
Datasets['Default Task']=task[1:]
Datasets['Attribute Type']=attribute[1:]
Datasets['Num of Instances']=num_instances[1:]
Datasets['Num of Attributes']=num_attr[1:]
Datasets['Year']=year[1:]

Datasets

,Name,Data Type,Default Task,Attribute Type,Num of Instances,Num of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021